@import url('https://fonts.googleapis.com/css?family=Numans');

#login-background-image {
  background-image: url('https://image.freepik.com/vector-gratis/escenario-teatro_1284-12639.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%
}

html, body, #root {
    height: 100%;
}

#login1 {
  align-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 3px;
  font-family: 'Numans', sans-serif;
  height: 100%
}

#input1 {
  margin-top: 25px;
}

#input2 {
  margin-top: 25px
}

#card_login {
  height: 370px;
  margin-top: auto;
  margin-bottom: auto;
  width: 400px;
  background-color: rgba(0, 0, 0, 0.5) !important;
}

.social_icon span {
  font-size: 60px;
  margin-left: 10px;
  color: #FFC312;
}

.social_icon span:hover {
  color: white;
  cursor: pointer;
}

.card-header h3 {
  color: white;
}

.social_icon {
  position: absolute;
  right: 20px;
  top: -45px;
}

.input-group-prepend span {
  width: 50px;
  background-color: #FFC312;
  color: black;
  border: 0 !important;
  margin-top: 25px;
  height: 38px;
}

.remember {
  color: white;
  margin-top: 25px;
}

.remember input {
  width: 20px;
  height: 20px;
  margin-left: 15px;
  margin-right: 5px;
}

.login_btn {
  color: black;
  background-color: #FFC312;
  width: 100px;
  margin-top: 25px;
}

.login_btn:hover {
  color: black;
  background-color: white;
}

.links {
  color: white;
}

.links a {
  margin-left: 4px;
}